<% include partials/header %>


<di class = "ui main text container segment">
    <div class = "ui huge header"><%= blogData.title %></div>
       <img src = "<%= blogData.image %>" >
    <p>  <%= blogData.created %> </p>
    <p>  <%= blogData.body %> </p>
</di>
